body {
  background-color: skyblue;
}

#voicestable {
	width: 100%;
	border-collapse: collapse;
	margin: 0px;
}

.highlight:hover {
	background-color: grey;
}

#voicestable td, #voicestable th {
  border: 1px solid #ddd;
  padding: 1px;
}

.savebutton {height: 40px;}
.new {background-color: yellow;}
.old {}
.saved {}

input {
	width: 100%;
}
input[type=checkbox] {
  width: auto;
}

